# Hugo default output directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

# Temporary lock file while building
/.hugo_build.lock

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Node.js dependencies
node_modules/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment files
.env
.env.*
!.env.example
